extends ../layout
include ../events_list.jade

block title
	- var types = {'exhibition': 'Выставки', 'excursion': 'Экскурсии', 'lecture': 'Лекции', 'education': 'Образовательные программы', 'teach': 'Центр прикладной педагогики', 'action': 'Мероприятия'}
	title= types[type]

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/blocks_grid.css' + version)
	link(rel='stylesheet', type='text/css', href='/build/css/events.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/libs/js/imagesloaded.pkgd.min.js' + version)
	script(type='text/javascript', src='/build/libs/js/masonry.pkgd.min.js' + version)
	script(type='text/javascript', src='/build/js/scroll.js' + version)
	script(type='text/javascript', src='/build/js/events.js' + version)

block content
	- var types = {'exhibition': 'Выставки', 'excursion': 'Экскурсии', 'lecture': 'Лекции', 'education': 'Образовательные программы', 'teach': 'Центр прикладной педагогики', 'action': 'Мероприятия'}
	.content_title(class=type)= types[type]

	.content_navigate_block.subsidiarys
		.navigate_title Филиалы:
		.navigate_items_block
			each subsidiary in subsidiarys
				if (subsidiary.status == 'important')
					.navigate_item.important(class=subsidiary._id.toString())= subsidiary.i18n.title.get('ru')
				else
					.navigate_item(class=subsidiary._id.toString())= subsidiary.i18n.title.get('ru')

	if (categorys.length > 0)
		.content_navigate_block.categorys
			.navigate_title Категории:
			.navigate_items_block
				each category in categorys
					.navigate_item(class=category._id.toString())= category.i18n.title.get('ru')
	.content_outer_block
		+eventsList(events)

block scroll
	.content_title
	.content_scroll_items
		each event in events
			img.content_scroll_item(src=event.images && event.images.length > 0 && event.images[0].thumb)