extends ../../layout

block title
	title= 'БАННЕРЫ'

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/add.css')

block content_scripts
	script(type='text/javascript', src='/build/js/lists.js')

block content
	a.back_link(href='/auth') < Назад
	.title= 'БАННЕРЫ'
	br
	a.add(href='/auth/banners/add') добавить баннер
	br
	br
	.main_menu_block
		b= 'Верхние баннеры'
		br
		hr
		br
		each banner in banners
			if (banner.top)
				.gallery.banners
					b= banner.html
					a.rm_banner(href='#', id=banner._id)= 'удалить '
					!=' | '
					a( class= banner.top, href='/auth/banners/edit/' + banner._id)= banner.i18n.title.get('ru') ? banner.i18n.title.get('ru') + ' № ' + banner.num  : 'Название 	баннера'
		br
		b= 'Нижние баннеры'
		br
		hr
		br
		each banner in banners
			if (!banner.top)
				.gallery.banners
					b= banner.html
					a.rm_banner(href='#', id=banner._id)= 'удалить '
					!=' | '
					a( class= banner.top, href='/auth/banners/edit/' + banner._id)= banner.i18n.title.get('ru') ? banner.i18n.title.get('ru') + ' № ' + banner.num  : 'Название 	баннера'