extends ../layout

block title
	title= __('КОНТАКТЫ')

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/contacts.css' + version)
	link(rel='stylesheet', type='text/css', href='/build/css/contacts_mobile.css' + version)

block content_scripts
	script(type='text/javascript', src='http://maps.googleapis.com/maps/api/js?sensor=false')
	script(type='text/javascript', src='/build/js/g_maps.js' + version)
	//script(type='text/javascript', src='/build/js/contacts.js' + version)


block content
	.map_block#map_canvas

block scroll
	.contacts_scroll_inner
		.contacts_title= __('Контактная информация')

		p.info_block= __('Информация:')
			span +7 (495) 699-54-58
		p.info_block= __('Экскурсионное бюро:')
			span +7 (495)699-67-24
		p.info_block= __('Приемная:')
			span +7 (495)699-52-17,
		p.info_block= __('Факс:')
			span +7 (495)699-12-73
		p.info_block
			a(href='mailto:sovrhistory@mail.ru') sovrhistory@mail.ru
		.info_block_title= __('Пресс-служба:')
		p.info_block= __('Ольга Болотова:')
		p.info_block +7 (495) 699-09-74 (раб.)
		p.info_block +7 (903) 505-93-88 (моб.)
		p.info_block
			a(href='obolotova@sovrhistory.ru') obolotova@sovrhistory.ru
		.info_block_title= __('Адрес:')
		p.info_block= __('125009, Россия, Москва,')
			br
			!= __('Тверская ул., дом 21')
		.info_block_title= __('Время работы:')
		p.info_block= __('Вторник, среда, пятница: с 10.00 до 18.00,')
			br
			!= __('касса до 17.30')
		p.info_block= __('Четверг: с 12.00 до 21.00,')
			br
			!= __('касса до 20.30')
		p.info_block= __('Суббота, воскресенье: с 11.00 до 19.00,')
			br
			!= __('касса до 18.30')
		p.info_block.info_block_last= __('Понедельник — выходной день')