extends ../layout

block title
	title= __('БИЛЕТЫ И РАСПИСАНИЕ')

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/schedule.css' + version)
	link(rel='stylesheet', type='text/css', href='/build/css/schedule_mobile.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/scroll.js' + version)


block content
	.content_title= __('Билеты')

	.schedule_block
		.schedule_block_inner.content_block_left
			.info_block_title= __('Стоимость')
			p.info_block
				span.highlited_block= '250 ' + __('руб.')
				span= __('полный билет')
			p.info_block
				span.highlited_block.benefit_block= '100 ' + __('руб.')
				span= __('льготный билет')
					br
					!= '(' + __('для учащихся, студентов вузов РФ,')
					br
					!= __('пенсионеров') + ')'.

			.info_block_title= __('Единый билет:')
			p.info_block
				i= '(' + __('ГЦМСИР и 4 отдела;')
					br
					!= __('срок действия — 10 дней,')
				br
				!= __('включая день продажи') + '):'
				br
			p.info_block
				span.highlited_block= '550 ' + __('руб.')
				span= __('для взрослых')
			p.info_block
				span.highlited_block.benefit_block.benefit_block2= '250' + __('руб.')
				span= __('для учащихся, студентов вузов РФ,')
					br
					!= __('пенсионеров')
			p.info_block
				span.highlited_block= '250 ' + __('руб.')
				span= __('любительская фотосъемка')
			p.info_block
				span.highlited_block= '500 ' + __('руб.')
				span= __('любительская видеосъемка')

		.schedule_block_inner.content_block_right
			.info_block_title= __('Бесплатное посещение')
			p.info_block= __('Дети до 7 лет')
				br
				!= __('Инвалиды 1,2 групп*')
				br
				!=	__('Герои Советского Союза')
				br
				!=	__('Герои Российской Федерации')
				br
				!=	__('Полные кавалеры Ордена Славы*')
				br
				!=	__('Члены ИКОМ*')
			p.info_block.highlited_block= __('Первый вторник месяца:')
			p.info_block= __('лица, не достигшие 18 лет;')
				br
				!= __('члены многодетных семей')
			p.info_block.highlited_block= __('Каждый вторник:')
			p.info_block= __('воспитанники Суворовских военных')
				br
				!= __('и Нахимовских военно-морских училищ*.')
			p.info_block
				!= __('* по предоставлении соответствующих документов')

block scroll
	.content_title
	.content_scroll_items
		include ../gallerys/main.jade