.mobile_menu.mobile_top_block
	a.menu_item(href='/exposure')= __('Экспозиция')
	a.menu_item(href='/events/exhibition')= __('Выставки')
	a.menu_item(href='/events/excursion')= __('Экскурсии')
	a.menu_item(href='/news')= __('Анонсы')
	a.menu_item(href='/schedule')= __('Билеты и расписание')
	a.menu_item(href='/subsidiarys')= __('Филиалы')
	a.menu_item(href='/contacts')= __('Контакты')

.mobile_menu.mobile_bottom_block
	a.menu_item(href='/history')= __('История музея')
	a.menu_item(href='collections')= __('Коллекция')
	a.menu_item(href='http://lhistory.ru/', target='blank')= __('Журнал «Живая история»')
	a.menu_item(href='/partners')= __('Партнеры')
	a.menu_item(href='/events/special')= __('Новости')
	a.menu_item(href='/events/action')= __('Мероприятия')
	a.menu_item(href='/services')= __('Услуги')
	a.menu_item(href='/team')= __('Команда')
	a.menu_item(href='/officials')= __('Официальная информация')


.mobile_search
	// input.search_input(type='text', placeholder= __('Найти...'))
.mobile_social.social_block
	a(href='https://vk.com/sovr_history', target='_blank') 
	a.oks(href='https://ok.ru/group/56003914039307', target='_blank')
		| <svg xmlns="http://www.w3.org/2000/svg" width="158" height="270" viewBox="114.8 57.9 157.1 269.2" fill="#fff"><path d="M194.5 57.9c-38.6 0-69.9 31.3-69.9 69.9s31.3 69.9 69.9 69.9 69.9-31.3 69.9-69.9-31.3-69.9-69.9-69.9zm0 98.8c-16 0-28.9-12.9-28.9-28.9s12.9-28.9 28.9-28.9 28.9 12.9 28.9 28.9-13 28.9-28.9 28.9zm24.7 96.6c28-5.7 44.7-18.9 45.6-19.7 8.2-6.6 9.5-18.5 2.9-26.7s-18.5-9.5-26.7-2.9c-.2.1-18.1 13.9-47.5 13.9s-47.7-13.7-47.8-13.9c-8.2-6.6-20.1-5.2-26.7 2.9-6.6 8.2-5.2 20.1 2.9 26.7.9.7 18.4 14.3 47.1 19.9l-40.1 41.9c-7.3 7.6-7.1 19.6.5 26.9 3.7 3.6 8.4 5.3 13.2 5.3 5 0 10-1.9 13.7-5.8l37.2-39.7 41 39.9c7.4 7.4 19.5 7.4 26.9 0s7.4-19.5 0-26.9l-42.2-41.8zm-25.7-35.5z"/></svg>
	a(href='https://www.facebook.com/sovr.history', target='_blank') 
	a(href='https://twitter.com/sovrmuse', target='_blank') 
	a.inst(href='https://instagram.com/sovr.history', target='_blank') 
	a.tlg(href='https://t.me/sovrhistory', target='_blank')
		| <svg version="1.1" id="l_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="1643.4px" height="1643.4px" viewBox="678.3 678.3 1643.4 1643.4" enable-background="new 678.3 678.3 1643.4 1643.4" xml:space="preserve"><g><path fill="#F2F2F2" d="M1297.9,2101.2c-48.6,0-40.3-18.3-57.1-64.6l-142.9-470.3l1100-652.6"/><path fill="#CCCCCC" d="M1297.9,2101.2c37.5,0,54.1-17.1,75-37.5l200-194.5l-249.5-150.4"/><path class="white" d="M1323.4,1718.8l604.5,446.6c69,38.1,118.8,18.4,136-64l246.1-1159.5c25.2-101-38.5-146.8-104.5-116.9L760.6,1382.1c-98.6,39.6-98.1,94.6-18,119.1l370.8,115.7l858.4-541.6c40.5-24.6,77.7-11.4,47.2,15.7"/></g></svg>
