extends ../layout
include ../events_list.jade

block title
	title= __('ГЦМСИР')

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/blocks_grid.css' + version)
	link(rel='stylesheet', type='text/css', href='/build/css/main.css' + version)
	link(rel='stylesheet', type='text/css', href='/build/css/events_subsidiary_after.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/libs/js/imagesloaded.pkgd.min.js' + version)
	script(type='text/javascript', src='/build/libs/js/masonry.pkgd.min.js' + version)
	script(type='text/javascript', src='/build/js/scroll.js' + version)
	script(type='text/javascript', src='/build/libs/js/js.cookie.js' + version)
	script(type='text/javascript', src='/src/js/main.js' + version)
	//script(type='text/javascript', src='/build/js/main.js' + version)

block content
	.content_title= __('Историю создаете вы')
	-var showban
	each banner in banners
		if (banner.top)
			-showban= true
	if (showban == true)
		.top_banner_outer
			each banner in banners
				if (banner.top)
					if (banner.html)
						.top_banner: != banner.code
					else
						a.top_banner(href=banner.link, style='background-image:url(' + banner.path.original + ')')
	.top_banner_outer.top_banner_big
		a.top_banner(href='http://www.rzd.ru/' style="background-image:url('/images/design/dinamich.gif')")
	//-.top_banner_counter
		each banner in banners
			if (banner.top)
					span ◦
	.content_outer_block
		.content_news_block
			each item in news
				a.content_item.news(href='/news/' + item._id)
					.item_title= item.i18n.title.get(locale)
					//-.item_date= item.date.getDate() + ' ' + months[item.date.getMonth()] + ' ' + item.date.getFullYear()
			a.content_item.news.content_news_goto(href= '/news/')= __('Перейти в анонсы')

			a(href='http://controlquality.ru/mark/?orgid=0373100001178')
				img.controlquality(alt='Оценка услуг', src='/images/design/controlquality.png')


			each banner in banners
				if (!banner.top)
					if (banner.html)
						.contnet_banner: != banner.code
					else
						a.contnet_banner(href=banner.link)
							img(src=banner.path.thumb)

			div(style="height:930px")
				.tripadvisor
					if (locale == 'ru')
						|	<div id="TA_cdsratingsonlynarrow518" class="TA_cdsratingsonlynarrow"><ul id="OTygmj" class="TA_links 9K6xlJriw"><li id="9FUQlplZH51" class="bhcZTt58kGi"><a target="_blank" href="https://www.tripadvisor.ru/"><img src="https://www.tripadvisor.ru/img/cdsi/img2/branding/tripadvisor_logo_transp_340x80-18034-2.png" alt="TripAdvisor"/></a></li></ul></div><script src="https://www.jscache.com/wejs?wtype=cdsratingsonlynarrow&amp;uniq=518&amp;locationId=300334&amp;lang=ru&amp;border=false&amp;display_version=2"></script>
					else
						| <div id="TA_cdsratingsonlynarrow816" class="TA_cdsratingsonlynarrow"><ul id="rsipGGgr" class="TA_links Hlw1d83"><li id="gU8loPMBBYVm" class="wuASFe"><a target="_blank" href="https://www.tripadvisor.com/"><img src="https://www.tripadvisor.com/img/cdsi/img2/branding/tripadvisor_logo_transp_340x80-18034-2.png" alt="TripAdvisor"/></a></li></ul></div><script src="https://www.jscache.com/wejs?wtype=cdsratingsonlynarrow&amp;uniq=816&amp;locationId=300334&amp;lang=en_US&amp;border=false&amp;display_version=2"></script>

				|<a class="twitter-timeline" data-width="220" data-height="800" href="https://twitter.com/SovrMuse">Tweets by SovrMuse</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>


		.content_events_block
			+eventsList(events)

	.overlay_block
		.overlay_close
		.overlay_inner
			.overlay_start_block= __('Подпишитесь, чтобы первым узнавать новости музея.')
			.overlay_social_block
				a.subscribe_vk 
				a.subscribe_fb(href='https://www.facebook.com/sovr.history', target='_blank') 
				a.subscribe_tw(href='https://twitter.com/sovrmuse', target='_blank') 
			.overlay_close_block= __('Спасибо!')

block scroll
	.content_title= __('Государственный центральный музей современной истории России')
	.content_scroll_items
		each image in images
			.content_scroll_item
				img(src=image.path.thumb)
				.content_image_description= image.i18n.description.get(locale)