extends ../layout
include ../events_list.jade

block title
	title= __('ГЦМСИР')

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/blocks_grid.css' + version)
	link(rel='stylesheet', type='text/css', href='/build/css/main.css' + version)
	link(rel='stylesheet', type='text/css', href='/build/css/events_subsidiary_after.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/libs/js/imagesloaded.pkgd.min.js' + version)
	script(type='text/javascript', src='/build/libs/js/masonry.pkgd.min.js' + version)
	script(type='text/javascript', src='/build/js/scroll.js' + version)
	script(type='text/javascript', src='/build/js/main.js' + version)

block content
	.content_title= __('Историю создаете вы')
	a.content_banner(href= 'http://pobedaonline.ru/')
	//-.content_navigate_block.types
		.navigate_title= __('Наши последние события:')
		.navigate_items_block
			//- .navigate_item.excursion= __('Экскурсии')
			//-a.navigate_item.exhibition(href='/events/exhibition')= __('Выставки')
			//-a.navigate_item.lecture(href='/events/lecture')= __('Лекции')
			//-a.navigate_item.action(href='/events/action')= __('Мероприятия')
			a.navigate_button(href='/events/exhibition')= __('Выставки')
			a.navigate_button(href='/events/lecture')= __('Лекции')
			a.navigate_button(href='/events/action')= __('Мероприятия')
	//-if (categorys.length > 0)
		.content_navigate_block.categorys
			.navigate_title= __('Категории:')
			.navigate_items_block
				each category in categorys
					.navigate_item(class=category._id.toString())= category.i18n.title.get(locale)
	.content_outer_block
		.content_news_block
			each item in news
				a.content_item.news(href='/news/' + item._id)
					.item_title= item.i18n.title.get(locale)
					.item_date= item.date.getDate() + ' ' + months[item.date.getMonth()] + ' ' + item.date.getFullYear()
			a.content_item.news.content_news_goto(href= '/news/')= __('Перейти в анонсы')
				if (locale == 'ru')
					|	<div id="TA_cdsratingsonlynarrow952" class="TA_cdsratingsonlynarrow">
					|	<ul id="iBRFdOO" class="TA_links QjBezkEX">
					|	<li id="fti80SqXm" class="Q4mLutx">
					|	<a target="_blank" href="http://www.tripadvisor.ru/"><img src="http://www.tripadvisor.ru/img/cdsi/img2/branding/tripadvisor_logo_transp_340x80-18034-2.png" alt="TripAdvisor"/></a>
					|	</li>
					|	</ul>
					|	</div>
					|	<script src="http://www.jscache.com/wejs?wtype=cdsratingsonlynarrow&amp;uniq=952&amp;locationId=300334&amp;lang=ru&amp;border=true&amp;shadow=true&amp;backgroundColor=white&amp;display_version=2"></script>
				else
					| <div id="TA_cdsratingsonlynarrow187" class="TA_cdsratingsonlynarrow">
					| <ul id="nHT1RY1" class="TA_links p0ySUCvD4Jqu">
					| <li id="LhTiNgpNFDDg" class="5yXMPaIYZ5k">
					| <a target="_blank" href="http://www.tripadvisor.com/"><img src="http://www.tripadvisor.com/img/cdsi/img2/branding/tripadvisor_logo_transp_340x80-18034-2.png" alt="TripAdvisor"/></a>
					| </li>
					| </ul>
					| </div>
					| <script src="http://www.jscache.com/wejs?wtype=cdsratingsonlynarrow&amp;uniq=187&amp;locationId=300334&amp;lang=en_US&amp;border=true&amp;shadow=true&amp;backgroundColor=white&amp;display_version=2"></script>

			| <a href="http://controlquality.ru/mark/?orgid=0373100001178"><img class="controlquality" alt="Оценка услуг" src="http://controlquality.ru/img/banner.png"></a>
		.content_events_block
			+eventsList(events)


block scroll
	.content_title= __('Государственный центральный музей современной истории России')
	.content_scroll_items
		each image in images
			.content_scroll_item
				img(src=image.path.thumb)
				.content_image_description= image.i18n.description.get(locale)