extends ../layout

block title
	title= __('ПАРТНЕРСТВО')

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/services.css' + version)

block content_scripts
	//-script(type='text/javascript', src='/build/js/services.js' + version)
	script(type='text/javascript', src='/build/js/scroll.js' + version)

block content
	.content_title= __('Услуги')
	.parters_block
		.info_block_title!= __('Наш музей всегда открыт <br> для позитивного сотрудничества <br> и партнерства.')
		//-.partners_phone= __('тел.:') + ' (495) 699-99-12'
		//-.partners_phone= __('факс:') + ' (495) 699-12-73'
	.partners_divide


	.partner_container
		.partner_block
			a.partner_item(target='_blank', href='http://kp.ru/')
				.partner_item_image(style='background-image:url(images/design/partners/01.png)')
				.partner_item_type
			a.partner_item(target='_blank', href='http://rsuh.ru/')
				.partner_item_image(style='background-image:url(images/design/partners/02.png)')
				.partner_item_type
			a.partner_item(target='_blank', href='http://www.hist.msu.ru/')
				.partner_item_image(style='background-image:url(images/design/partners/03.png)')
				.partner_item_type
			a.partner_item(target='_blank', href='http://tass.ru/')
				.partner_item_image(style='background-image:url(images/design/partners/06.png)')
				.partner_item_type
			a.partner_item.rp_item(target='_blank', href='http://rospatriotcentr.ru/')
				.partner_item_image(style='background-image:url(images/design/partners/08.png)')
				.partner_item_type

block scroll
	.content_title
	.content_scroll_items
		each image in images
			.content_scroll_item
				img(src=image.path.thumb)
				.content_image_description= image.i18n.description.get(locale)
